ul li > h2 {
  font-size: 1.9rem;
  font-weight: 400;
  padding: 0px 1.5rem;
}

p.explanation:nth-child(3) {
  margin-top: 0;
}

ul li section > label.gaia-icon {
  width: 3.5rem;
}

#sunset-max-alpha {
  background: none;
  border: none;
}